<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="metaProduction">
            <h2><span jhiTranslate="pnApplicationApp.metaProduction.detail.title">Meta Production</span> {{ metaProduction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pnApplicationApp.metaProduction.idTech">Id Tech</span></dt>
                <dd>
                    <span>{{ metaProduction.idTech }}</span>
                </dd>
                <dt><span jhiTranslate="pnApplicationApp.metaProduction.societe">Societe</span></dt>
                <dd>
                    <span>{{ metaProduction.societe }}</span>
                </dd>
                <dt><span jhiTranslate="pnApplicationApp.metaProduction.numContratLgbt">Num Contrat Lgbt</span></dt>
                <dd>
                    <span>{{ metaProduction.numContratLgbt }}</span>
                </dd>
                <dt><span jhiTranslate="pnApplicationApp.metaProduction.numSous">Num Sous</span></dt>
                <dd>
                    <span>{{ metaProduction.numSous }}</span>
                </dd>
                <dt><span jhiTranslate="pnApplicationApp.metaProduction.idTech">Id Tech</span></dt>
                <dd>
                    <div *ngIf="metaProduction.idTech">
                        <a [routerLink]="['/demande', metaProduction.idTech?.id, 'view']">{{ metaProduction.idTech?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/meta-production', metaProduction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
