<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-meta-production-heading" jhiTranslate="pnApplicationApp.metaProduction.home.createOrEditLabel">Create or edit a Meta Production</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pnApplicationApp.metaProduction.idTech" for="field_idTech">Id Tech</label>
                    <input type="number" class="form-control" name="idTech" id="field_idTech"
                           formControlName="idTech"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pnApplicationApp.metaProduction.societe" for="field_societe">Societe</label>
                    <input type="text" class="form-control" name="societe" id="field_societe"
                           formControlName="societe"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pnApplicationApp.metaProduction.numContratLgbt" for="field_numContratLgbt">Num Contrat Lgbt</label>
                    <input type="text" class="form-control" name="numContratLgbt" id="field_numContratLgbt"
                           formControlName="numContratLgbt"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pnApplicationApp.metaProduction.numSous" for="field_numSous">Num Sous</label>
                    <input type="text" class="form-control" name="numSous" id="field_numSous"
                           formControlName="numSous"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pnApplicationApp.metaProduction.idTech" for="field_idTech">Id Tech</label>
                    <select class="form-control" id="field_idTech" name="idTech" formControlName="idTech">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="demandeOption.id === editForm.get('idTech')!.value?.id ? editForm.get('idTech')!.value : demandeOption" *ngFor="let demandeOption of idteches; trackBy: trackById">{{ demandeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
