<div>
    <h2 id="page-heading">
        <span jhiTranslate="pnApplicationApp.audit.home.title">Audits</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-audit" [routerLink]="['/audit/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="pnApplicationApp.audit.home.createLabel">
            Create a new Audit
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="audits?.length === 0">
        <span jhiTranslate="pnApplicationApp.audit.home.notFound">No audits found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="audits?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="pnApplicationApp.audit.idAudit">Id Audit</span></th>
                    <th scope="col" ><span jhiTranslate="pnApplicationApp.audit.idEdition">Id Edition</span></th>
                    <th scope="col" ><span jhiTranslate="pnApplicationApp.audit.date">Date</span></th>
                    <th scope="col" ><span jhiTranslate="pnApplicationApp.audit.badge">Badge</span></th>
                    <th scope="col" ><span jhiTranslate="pnApplicationApp.audit.action">Action</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let audit of audits ;trackBy: trackId">
                    <td><a [routerLink]="['/audit', audit.id, 'view']">{{ audit.id }}</a></td>
                    <td>{{ audit.idAudit }}</td>
                    <td>{{ audit.idEdition }}</td>
                    <td>{{ audit.date | date:'medium' }}</td>
                    <td>{{ audit.badge }}</td>
                    <td jhiTranslate="{{ 'pnApplicationApp.Action.' + audit.action }}">{{ audit.action }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/audit', audit.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/audit', audit.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(audit)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
