<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="audit">
            <h2><span jhiTranslate="pnApplicationApp.audit.detail.title">Audit</span> {{ audit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pnApplicationApp.audit.idEdition">Id Edition</span></dt>
                <dd>
                    <span>{{ audit.idEdition }}</span>
                </dd>
                <dt><span jhiTranslate="pnApplicationApp.audit.date">Date</span></dt>
                <dd>
                    <span>{{ audit.date }}</span>
                </dd>
                <dt><span jhiTranslate="pnApplicationApp.audit.badge">Badge</span></dt>
                <dd>
                    <span>{{ audit.badge }}</span>
                </dd>
                <dt><span jhiTranslate="pnApplicationApp.audit.action">Action</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'pnApplicationApp.Action.' + audit.action }}">{{ audit.action }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/audit', audit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
